/* Cabeçalho */
header {
    background-color: #000; /* Fundo preto para destacar do fundo geral */
    color: #fff; /* Texto branco para contraste */
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 1.5px; /* Para um efeito mais sofisticado */
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #ff0000; /* Cor vermelha para os links */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ff4d4d; /* Efeito hover mais suave */
}