/* inicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo padrão do corpo (body) */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;  /* Cor de fundo clara */
    color: #333;               /* Cor padrão do texto */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}